[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
conan = "*"

[dev-packages]
adr-tools-python = "*"
autopep8 = "*"
cmakelang = "*"
doc8 = "*"
kaleido = "*"
myst-parser = "*"
pandas = "*"
plotly = "*"
pre-commit = "*"
pylint = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-plantuml = "*"
click = "*"

[requires]
python_version = "3.9"
