[project]
name = "numerical-collection-cpp"
version = "0.0.0"
description = ""
readme = "README.md"
requires-python = ">=3.12,<3.14"
authors = [
    { name = "Kenta Kabashima", email = "kenta_program37@hotmail.co.jp" },
]
dependencies = ["setuptools>=80.9.0"]

[tool.poetry]
packages = [{ include = "num_collect_test_utils", from = "scripts" }]

[tool.poetry.group.test.dependencies]
kaleido = "^1.2.0"
pandas = "^2.3.3"
plotly = "^6.5.0"
pytest = "^9.0.2"
pytest-approvaltests = "^0.2.4"
fastjsonschema = "^2.21.2"
pytomlpp = "^1.1.0"
msgpack = "^1.1.2"
playwright = "^1.57.0"
click = "^8.3.1"
mpmath = "^1.3.0"

[tool.poetry.group.doc.dependencies]
# Sphinx 8.2 causes errors in shpinxcontrib-bibtex.
sphinx = "^8.2.3"
sphinx-orange-book-theme = "^0.16.0"
myst-parser = "^4.0.1"
sphinxcontrib-plantuml = "^0.31"
sphinxcontrib-bibtex = "^2.6.5"

[tool.poetry.group.dev.dependencies]
black = "^25.12.0"
cmakelang = "^0.6.13"
doc8 = "^2.0.0"
pre-commit = "^4.5.1"
sphinx-autobuild = "^2025.8.25"
tqdm = "^4.67.1"
lizard = "^1.19.0"
lcov-cobertura = "^2.1.1"
clang-tidy-checker = "^0.6.0"
isort = "^7.0.0"
jsonschema2md = "^1.7.0"
pylint = "^4.0.4"
flake8 = "^7.3.0"
mypy = "^1.19.1"
pandas-stubs = "^2.3.3.251219"
types-tqdm = "^4.67.0.20250809"
pyyaml = "^6.0.3"
types-pyyaml = "^6.0.12.20250915"
colour-science = "^0.4.7"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.pylint]
disable = ["R0801"]
